<section class="container py-5">

    <div class="row g-4">

        <div class="col-md-4">

            <div class="card border-0 shadow stats-card">

                <div class="card-body text-center">

                    <h1>

                        {{ stats.tournaments }}

                    </h1>

                    <p>

                        Tournaments

                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card border-0 shadow stats-card">

                <div class="card-body text-center">

                    <h1>

                        {{ stats.teams }}

                    </h1>

                    <p>

                        Teams

                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card border-0 shadow stats-card">

                <div class="card-body text-center">

                    <h1>

                        {{ stats.games }}

                    </h1>

                    <p>

                        Games

                    </p>

                </div>

            </div>

        </div>

    </div>

</section>