{% extends "base.html" %}

{% load static %}

{% block title %}
{{ tournament.name }} - GameArena
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tournament.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid px-0 py-2">

    {% include "tournaments/partials/tournament_header.html" %}

    <div class="row g-4">

        <!-- LEFT SIDE: Overview & Hub Navigation -->
        <div class="col-lg-8">
            {% include "tournaments/partials/overview.html" %}
        </div>

        <!-- RIGHT SIDE: Sidebar Stats & Actions -->
        <div class="col-lg-4">
            {% include "tournaments/partials/sidebar.html" %}
        </div>

    </div>

</div>

{% endblock %}