<div class="match">

    <div class="team {% if match.winner == match.team_one %}winner{% endif %}">

        <span class="team-name">

            {% if match.team_one %}
            {{ match.team_one_display }}
            {% else %}
            BYE
            {% endif %}

        </span>

    </div>

    <div class="team {% if match.winner == match.team_two %}winner{% endif %}">

        <span class="team-name">

            {% if match.team_two %}
            {{ match.team_two_display }}
            {% else %}
            BYE
            {% endif %}


        </span>

    </div>

</div>